@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: regular;
    src: local(regular), url(../../public/fonts/BYekan/BYekan+\ Bold.ttf);
    font-display: swap;
  }
  @font-face {
    font-family: thinFont;
    src: local(thinFont), url(../../public/fonts/BYekan/BYekan+.ttf);
    font-display: swap;
  }

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all linear 0.1s;
  }
  html {
    font-size: 10px;
    scroll-behavior: smooth;
    font-family: regular;
  }
  body::-webkit-scrollbar {
    display: none;
  }
  .center {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .image {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  .btn {
    @apply text-2xl font-bold px-10 py-3 rounded-xl shadow-md active:scale-95 cursor-pointer;
  }
  .input {
    @apply h-14 rounded-lg text-black/70 text-2xl px-4 border-2 border-second/40 outline-none focus:outline-none;
  }
}
